<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Travel Buddy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/details.css'%}">
</head>

<body>
    <div id="wrapper">
        <div id="nav-container">
            <i class="fa fa-plane"></i>
            <h1 class="current-user">{{some_user.first_name}}</h1>
        </div>
        <form action="/logout" method="post">
            {% csrf_token %}
            <input class="btn btn-primary btn-sm go-home" type="submit" value="Log Out">
        </form>
        <div id="body-container">
            <h1>Hey {{show.created_by.first_name}}! Here are your Trip Details</h1>

            <h3>Created by: {{show.created_by.first_name}}</h3>
            <h3>Destination: {{show.location}}</h3>
            <h3>Departure: {{show.start_date}}</h3>
            <h3>Return: {{show.end_date}}</h3>
            <h3>Description: {{show.description}}</h3>
            <h3>Last updated: {{show.updated_at}}</h3>
            <form action="/shows/{{show.id}}/updatePage" method="post">
                {% csrf_token %}
                <input id="edit-btn" class="btn btn-primary btn-sm go-home" type="submit" value="Edit">
            </form>
            <form action="/shows/{{show.id}}/delete" method="post">
                {% csrf_token %}
                <input id="delete-btn" class="btn btn-primary btn-sm go-home" type="submit" value="Delete">
            </form>
            <form action="/dashboard" method="post">
                {% csrf_token %}
                <input id="dash-btn" class="btn btn-primary btn-sm go-home" type="submit" value="Dashboard">
            </form>
        </div>
    </div>
</body>

</html>