/* CSS RESET */

*{
    padding: 0;
    margin: 0;
}

/* Wrapper section */

#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 32, 32);
}

/* navbar area */

#nav-container{
    display: flex;
}

.fa{
    display: inline-block;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 55px;
    color: rgb(237, 183, 8);
}

.current-user{
    position: relative;
    color: rgb(237, 183, 8);
    top: 25px;
    left: 30px;
    font-weight: 300;
    font-size: 25px;
}

.go-home{
    position: relative;
    left: 92%;
    top: -30px;
    background-color: rgb(4, 157, 109);
    color: rgb(225, 225, 225);
    font-weight: bold;
    border: none;
}

.go-home:hover{
    position: relative;
    left: 92%;
    top: -30px;
    background-color: rgb(237, 183, 8);
    color: rgb(225, 225, 225);
    font-weight: bold;
    border: none;
}

/* Body-container section */

#body-container{
    position: relative;
    width: 500px;
    height: 500px;
    left: 32%;
    top: 40px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 254, 254, 0.144);
}

#body-container h1{
    margin-bottom: 40px;
    color: rgb(4, 157, 109);
}

#body-container label{
    color: seashell;
    padding-right: 40px;
}

#margin-up{
    position: relative;
    bottom: 20px;
}


/* Form Buttons */
#travel{
    position: relative;
    width: 100px;
    right: 50px;
    background-color: rgb(4, 157, 109);
    border: none;
}

#cancel{
    width: 70px;
    position: relative;
    left: 50px;
    bottom: 36px;
    background-color: rgb(4, 157, 109);
    border: none;
}

/* form button psuedo classes */
#travel:hover{
    position: relative;
    width: 100px;
    right: 50px;
    background-color: rgb(237, 183, 8);
    border: none;
}

#cancel:hover{
    width: 70px;
    position: relative;
    left: 50px;
    bottom: 36px;
    background-color: rgb(237, 183, 8);
    border: none;
}


